@import "tailwindcss";

@supports (backdrop-filter: blur(10px)) {
  .modern-glass {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
  }
}

@supports not (backdrop-filter: blur(10px)) {
  .modern-glass {
    background-color: #f5f6f8; /* fallback solid */
  }
}
